@import './../styles/components/responsive';

.rootLayout {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: minmax(4rem, auto) 1fr;
  min-height: calc(100vh - 2rem);
  max-width: 100%;

  header {
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column no-wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #f6f7fc;
    padding: 1rem 2.5rem;

    figure {
      background-color: var(--white);
      padding: 0.4rem;
      border-radius: 8px;
    }

    nav {
      ul {
        height: 100%;
        column-gap: 1rem;
      }
    }
  }

  > main {
    height: 100%;

    header {
      padding: 1rem 0;

      span {
        font-size: 1.3rem;
        font-weight: bold;
      }

      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        li {
          display: flex;
          align-items: center;
          column-gap: 1rem;
        }
      }

      figure {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        border-radius: 999px;

        figcaption {
        }

        img {
          --width: 40px;
          width: var(--width);
          height: var(--width);
          border: 1px solid #ddd;
          border-radius: inherit;
        }
      }
    }

    main {
      flex: 1;
      width: 100%;
    }

    footer {
      position: relative;
      color: var(--black-700);
      text-align: center;
      padding: 1rem 0;
    }
  }
}

.active {
  font-weight: bold;
  color: var(--color-primary) !important;
  transform: scale(1.1);
  &:before {
    display: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
